body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
  }

  h2{
    text-decoration: underline;
  }
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
  }
  
  
  input[type="radio"]:checked + label {
    font-weight: bold;
  }
  

  button[type="submit"],
  button[type="reset"] {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
  }
  
  button[type="reset"] {
    background-color: #f44336;
    color: #fff;
  }
  
  button[type="submit"]:hover,
  button[type="reset"]:hover {
    opacity: 0.8;
  }
  